@keyframes drehung {
  0% {
    transform: rotateZ(0) scale(1);
  }

  100% {
    transform: rotateZ(360deg) scale(3.4);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  animation: fadeIn ease-in 0.8s;
}

div {
  box-sizing: border-box;
}

h1 {
  color: rgb(0, 0, 255);
  transition: all linear 0.4s;
}

h1:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 255);
}

.produkte {
  display: flex;

  justify-content: flex-start;
  align-items: center;
}

.card {
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  overflow: hidden;
  margin: 32px;
  cursor: pointer;
  transition: all linear 0.15s;
}

.card img {
  width: 100%;
}

.card h3 {
  padding: 8px;
  padding-bottom: 2px;
  margin-bottom: 2px;
}

.card p {
  padding: 8px;
  padding-top: 0px;
  padding-bottom: 16px;
}

.card:hover {
  transform: translateY(-12px);
  /* transform: translateY(-12px) rotateZ(20deg) rotateX(20deg); */
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
}

.hi {
  display: flex;
  background-color: rgb(0, 0, 255);
  color: rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  padding: 8px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  margin: 32px;

  animation: drehung linear 3s infinite alternate;
}
